.gpt3__cta {
    background:-moz-radial-gradient(circle at 25% 25%, rgba(174, 103, 250, 1) 0%, rgba(244, 152, 103, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 25% 25%, rgba(174, 103, 250, 1) 0%, rgba(244, 152, 103, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 25% 25%, rgba(174, 103, 250, 1) 0%, rgba(244, 152, 103, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 25% 25%, rgba(174, 103, 250, 1) 0%, rgba(244, 152, 103, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 25% 25%, rgba(174, 103, 250, 1) 0%, rgba(244, 152, 103, 1) 100%);

    padding: 2rem;

    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10.7236px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__cta-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gpt3__cta-text p{
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #0E0E0E;
}

.gpt3__cta-text h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
}

.gpt3__cta-button button{
    background: #000000;
    border-radius: 40px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1rem 3rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

@media (max-width:590px) {
    .gpt3__cta{
        flex-direction: column;
    }
    .gpt3__cta-text{
        margin-bottom: 1rem;
    }
    .gpt3__cta-text p{
        text-align: center;
    }
    .gpt3__cta-text h1{
        text-align: center;
        line-height: 32px;
    }
}